<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TfsToGit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Security" connectionString="Data Source=VRSQLORIGIN;Initial Catalog=Security;MultipleActiveResultSets=True;User=sql-app;Password=App-Sql!"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <TfsToGit.Properties.Settings>
            <setting name="TfsExecutablePath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TeamFoundation\Team Explorer\TF.exe</value>
            </setting>
            <setting name="RobocopyPath" serializeAs="String">
                <value>C:\Windows\System32\Robocopy.exe</value>
            </setting>
            <setting name="GitPath" serializeAs="String">
                <value>C:\Program Files\Git\cmd\git.exe</value>
            </setting>
        </TfsToGit.Properties.Settings>
    </applicationSettings>
</configuration>
